<!DOCTYPE html>
<html>
  <head>
    <script defer src="vue.js"></script>
    <script defer src="index.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
      </ul>
      <div 
        style="border: 1px solid black; margin: 5px; padding: 5px;" 
        v-for="person in people">
        <div 
          style="border: 1px solid gray; margin: 5px; padding: 5px; display: inline-block;" 
          v-for="(value, key, index) in person">
          <p>Key: {{ key }}</p>
          <p>Value: {{ value }}</p>
          <p>Index: {{ index }}</p>
        </div>
      </div>
    </div>
  </body>
</html>