<!DOCTYPE html>
<html>
  <head>
    <title>Buzz</title>
    <script defer src="vue.js"></script>
    <script defer src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div id="app">
      <div 
        class="demo"
        @click="attachRed = !attachRed"
        :class="{red: attachRed, blue: !attachRed}"></div>
      <div class="demo" :class="divClasses"></div>
      <div class="demo" :style="{backgroundColor: color}"></div>
      <input style="display: block;" type="text" v-model="color">
      <hr>
      <!--
        styling elements with array ...
        vue applies all styles from array to element
      -->
      <div class="demo" :style="[myStyle, {boxShadow: '0px 0px 5px black'}]"></div>
      <br>
      <label for="width">Width</label>
      <input id="width" v-model="width">
      <label for="height">Height</label>
      <input id="height" v-model="height">
    </div>
  </body>
</html>