<!DOCTYPE html>
<html>
  <head>
    <script defer src="vue.js"></script>
    <script defer src="index.js"></script>
  </head>
  <body>
    <div id="app">
      <p>Secret key:</p>
      <p v-if="show">KJHc*&SDF2*&SDFOJHp*234dfs2</p>
      <p v-else style="color: red;">Hidden</p>
      <input type="button" v-model="message" @click="update">      
      <template v-if="show">
        <h3>Using an HTML template to group contents of v-if</h3>
        <p>This is inside a template</p>
      </template>
      <p v-show="show">
        This is hidden with v-show which "hides" content with CSS display property. Unlike <code>v-if</code> the content is actually present in the DOM.
      </p>
    </div>
  </body>
</html>