.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
}

.cockpit {
  flex-grow: 1;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cockpit input[type="button"] {
  -webkit-appearance: none; /* disable the browser's default appearance before applying our own */
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
}

.cockpit input[type="button"]:hover {
  box-shadow: 0px 0px 5px gray;
}

.player {
  flex-grow: 1;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px gray;
  padding: 25px;
  text-align: center;
}

.player:hover {
  box-shadow: 0px 0px 8px black;
}

.player h1 {
  color: #794A91;
}

.health {
  width: 100%;
  background-color: rgb(211, 235, 233);
  border-radius: 8px;
  color: white;
}

.bar {
  width: 30%;
  height: 25px;
  background-color: #F7941E;
  border-radius: 8px;  
}

.break {
  height: 4px;
  flex-basis: 100%;
  background-color: rgb(211, 235, 233);
  border-radius: 5px;
}

.attack {
  background-color: #343A40; 
  border-color: #343A40; 
  color: white;
}

.special-attack {
  background-color: sandybrown; 
  border-color: sandybrown; 
  color: white;
}

.heal {
  background-color: green;
  border-color: green;
  color: white;
}

.give-up {
  background-color: #794A91;
  border-color: #794A91;
  color: white;
}

.lost {
  background-color: firebrick; 
  border-color: firebrick; 
  color: white;
}

table {
  width: 100%;
}

th, td {
  padding: 4px;
  text-align: center;  
}

tr:nth-child(even) {background-color: #f2f2f2;}