<!DOCTYPE html>
<html>
  <head>
    <title>Monster Game</title>
    <script defer src="vue.js"></script>
    <script defer src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="player">
          <h1>You</h1>          
          <div class="health">
            <div 
              class="bar"
              :style="{width: player.health + '%'}">{{ player.health }}</div>
          </div>
        </div>
        <div class="player">
          <h1>Monster</h1>
          <div class="health">
            <div 
              class="bar" 
              :style="{width: monster.health + '%'}">{{ monster.health }}</div>
          </div>
        </div>
        <div class="break"></div>
        <div class="cockpit">
          <input
            v-if="gameOver === true"
            type="button"
            :value="cockpitMessage"
            class="heal"
            @click="initGame">
          <template v-else>
            <input 
              type="button" 
              value="Attack" 
              class="attack"
              @click="attack(20, 20)">
            <input 
              type="button"
              value="Special Attack"
              class="special-attack"
              @click="attack(50, 20)">
            <input 
              type="button" 
              value="Heal" 
              class="heal"
              @click="heal">
            <input 
              type="button" 
              value="Give Up" 
              class="give-up"
              @click="initGame">
          </template>          
        </div>
        <div class="break"></div>        
        <div class="player">
          <table>
            <tr>
              <th>Round</th>
              <th>Hit Damage</th>
            </tr>
            <tr v-for="(hit, i) in player.hits">
              <td>{{ i }}</td>
              <td>{{ hit }}</td>
            </tr>
          </table>
        </div>
        <div class="player">
          <table>
            <tr>
              <th>Round</th>
              <th>Hit Damage</th>
            </tr>
            <tr v-for="(hit, i) in monster.hits">
              <td>{{ i }}</td>
              <td>{{ hit }}</td>
            </tr>
          </table>
        </div>        
      </div>
    </div>
  </body>
</html>